body{
  
    text-align: center;
    font-family: 'Roboto', sans-serif !important;
    height: 700px;
    margin: 0;
    padding: 0  ;
    overflow: hidden;
}
.img{
    background: rgb(11, 7, 6);
    
}
.main{
    height: 500px;
}
@media screen and (max-width: 600px) {
    img{
        width: 100%;
    }
}